<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Ear Buds</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <style>
        body        { padding-top:80px; word-wrap:break-word; }
        
    	.modalDialog {
    		position: fixed;
    		font-family: Arial, Helvetica, sans-serif;
    		top: 0;
    		right: 0;
    		bottom: 0;
    		left: 0;
    		background: rgba(0,0,0,0.8);
    		z-index: 99999;
    		opacity:0;
    		-webkit-transition: opacity 400ms ease-in;
    		-moz-transition: opacity 400ms ease-in;
    		transition: opacity 400ms ease-in;
    		pointer-events: none;
    	}
    
    	.modalDialog:target {
    		opacity:1;
    		pointer-events: auto;
    	}
    
    	.modalDialog > div {
    		width: 400px;
    		position: relative;
    		margin: 10% auto;
    		padding: 5px 20px 13px 20px;
    		border-radius: 10px;
    		background: #fff;
    		background: -moz-linear-gradient(#fff, #999);
    		background: -webkit-linear-gradient(#fff, #999);
    		background: -o-linear-gradient(#fff, #999);
    	}
    
    	.close {
    		background: #606061;
    		color: #FFFFFF;
    		line-height: 25px;
    		position: absolute;
    		right: -12px;
    		text-align: center;
    		top: -10px;
    		width: 24px;
    		text-decoration: none;
    		font-weight: bold;
    		-webkit-border-radius: 12px;
    		-moz-border-radius: 12px;
    		border-radius: 12px;
    		-moz-box-shadow: 1px 1px 3px #000;
    		-webkit-box-shadow: 1px 1px 3px #000;
    		box-shadow: 1px 1px 3px #000;
    	}
    
    	.close:hover { background: #00d9ff; }
	</style>
	<style>
        .bs-example{
        	font-family: sans-serif;
        	position: relative;
        	float: left;
        	z-index: 3;
        
        }
        .typeahead, .tt-query, .tt-hint {
        	border: 2px solid #CCCCCC;
        	border-radius: 6px; 
        	font-size: 16px;
        	height: 32px;    
        	line-height: 30px;
        	outline: medium none;
        	padding: 4px 12px;
        	width: 422px;
        }
        .typeahead {
        	background-color: #FFFFFF;
        }
        .typeahead:focus {
        	border: 2px solid #0097CF;
        }
        .tt-query {
        	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        }
        .tt-hint {
        	color: #999999;
        }
        .tt-dropdown-menu {
        	background-color: #FFFFFF;
        	border: 1px solid rgba(0, 0, 0, 0.2);
        	border-radius: 8px;
        	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        	margin-top: 12px;
        	padding: 8px 0;
        	width: 422px;
        	
        }
        .tt-suggestion {
        	font-size: 24px;
        	line-height: 24px;
        	padding: 3px 20px;
        }
        .tt-suggestion.tt-is-under-cursor {
        	background-color: #0097CF;
        	color: #FFFFFF;
        }
        .tt-suggestion p {
        	margin: 0;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-headphones"></span> Profile Page</h1>
        
                <!-- show any messages that come back with authentication -->
        <% if (typeof message !== 'undefined' && message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>
        
        <a href="/logout" class="btn btn-warning btn-lgt">Logout</a>
        <a href="#openModal" class="btn btn-warning btn-lgt">Edit info</a>
        <div id="openModal" class="modalDialog">
        	<div>
        		<a href="#close" title="Close" class="close">X</a>
        		<h2>Edit User</h2>
                <form action="/editUser" method="post">
                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" class="form-control" name="username" value=<%=user.local.username%>>
                    </div>
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" name="firstname" value=<%=user.local.firstname%>>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" name="lastname" value=<%=user.local.lastname%>>
                    </div>
                    <div class="form-group">
                        <label>Enter new password</label>
                        <input type="password" class="form-control" name="password" value="empty">
                    </div>
                    <div class="form-group">
                        <label>Re-enter Password</label>
                        <input type="password" class="form-control" name="password2" value="empty">
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="email" value=<%=user.local.email%> >
                    </div>
            
                    <button type="submit" class="btn btn-warning btn-lg">Edit</button>
                </form>
                
        	</div>
        </div>
        <div>
            <form action="/artist" method="get">
                <input type="text" style="vertical-align: bottom" class="typeahead tt-query" name="typeahead" autocomplete="off" spellcheck="false" placeholder="Search Artists">
                <button type="submit" style="vertical-align: bottom" class="btn btn-warning btn-lgt">Search</button>
            </form>
        </div>
    </div>
    
        <script type="text/javascript" src="JS/jquery.min.js"></script>
        <script type="text/javascript" src="JS/typeahead.min.js"></script>
            
        <script type="text/javascript">
            $(document).ready(function(){
                $('input.typeahead').typeahead({
                    name: 'typeahead',
                    remote: 'https://'+window.location.host+'/search?key=%QUERY',
                    limit: 10
                });
            });
        </script>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span><%=user.local.username%></h3>

                     <img src="smiley.gif" alt="Smiley face" height="100" width="100"> 
                    <form action="demo_form.asp">
                        <input type="file" name="pic" accept="image/*">
                        <input type="submit">
                    </form> 
                    
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>firstname</strong>: <%= user.local.firstname %><br>
                        <strong>lastname</strong>: <%= user.local.lastname %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <br><%= user.local.password %>
                    </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>