<!-- views/user.ejs -->
<!doctype html>
<html>
<head>
    <!--CODE FOR NAVBAR-->
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><p3>EB</p3></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      <form action="/artist" method="get" class="navbar-form navbar-left" role="search">
        <div class="form-group">
        <input type="text" class="form-control" name="typeahead" autocomplete="off" spellcheck="false" placeholder="Search Artists">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>
    <!--END OF NAVBAR CODE-->

    <title>EarBuds</title>
    <link href='https://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <style>
        body        { 
            background-image: url(images/Earbuds.jpg);
            background-size: 100% auto;
            word-wrap:break-word;
             }

        h1 {
           color:#ffffff;
            font-family: 'Megrim', sans-serif;
            font-weight: bolder;
            font-size: 400%;
        }
        h2 {
            color:#006666;
            font-family: sans-serif;
            font-weight: bolder;
            text-align: center;
        }
        p3{
            color:#006666;
            font-family: 'Megrim', sans-serif;
            font-weight: bolder;
        }
        .img {
            border-radius: 6px; 
            border: 1px solid black ;   
            max-width:100%; 
            max-height:100%;
        }

        .bs-example{
        	font-family: sans-serif;
        	position: relative;
        	float: left;
        	z-index: 3;
        
        }
        .typeahead, .tt-query, .tt-hint {
        	border: 2px solid #CCCCCC;
        	border-radius: 6px; 
        	font-size: 16px;
        	height: 32px;    
        	line-height: 30px;
        	outline: medium none;
        	padding: 4px 12px;
        	width: 422px;
        }
        .typeahead {
        	background-color: #FFFFFF;
        }
        .typeahead:focus {
        	border: 2px solid #0097CF;
        }
        .tt-query {
        	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        }
        .tt-hint {
        	color: #999999;
        }
        .tt-dropdown-menu {
        	background-color: #FFFFFF;
        	border: 1px solid rgba(0, 0, 0, 0.2);
        	border-radius: 8px;
        	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        	margin-top: 12px;
        	padding: 8px 0;
        	width: 422px;
        	
        }
        .tt-suggestion {
        	font-size: 24px;
        	line-height: 24px;
        	padding: 3px 20px;
        }
        .tt-suggestion.tt-is-under-cursor {
        	background-color: #0097CF;
        	color: #FFFFFF;
        }
        .tt-suggestion p {
        	margin: 0;
        }
        
        
        .mybox{
          
            width:500px;
            height:300px;
             border-radius: 25px 25px 25px 25px;
            background-color:rgba(255,255,255,0.7);
            float:left;
        
       }
       .mybox2{
           width:500px;
            height:300px;
             border-radius: 25px 25px 25px 25px;
            background-color:rgba(255,255,255,0.7);
            float:right;
       }
       .propic{
           width: 200px;
           height:200px;
           margin-left: auto;
        margin-right: auto
       }
        
    </style>
</head>
<body>
<div class="container">
           <h1 style="text-align: center"><br> <%= user2.local.firstname %> <%= user2.local.lastname %><br> </h1>
        <hr>
        
       
                
     
            <!-- show any messages that come back with authentication -->
            <% if (typeof message !== 'undefined' && message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>
    </div>
    
        <!-- TYPEAHEAD -->
        <script type="text/javascript" src="JS/jquery.min.js"></script>
        <script type="text/javascript" src="JS/typeahead.min.js"></script>
            
        <script type="text/javascript">
            $(document).ready(function(){
                $('input.typeahead').typeahead({
                    name: 'typeahead',
                    remote: 'https://'+window.location.host+'/search?key=%QUERY',
                    limit: 10
                });
            });
        </script>

    <div class="container">
        <!-- LOCAL INFORMATION -->
        <div class="mybox" >
            <h2><span class="fa fa-user"></span><%=user2.local.username%></h2>
                <div class="propic">
                    <img src="<%=user2.local.imgurl%>" alt="avatar" class="img"> 
                </div>
                
                
        </div>
        <!-- FRIENDS AND FAVORITES -->        
        <div class="mybox2" >
            <h2><span class="fa fa-users"></span>Following</h2>
            <div class="col-sm-12">
                 <div class="col-sm-6">   
                    <form action="/follow" style="float: right" method="get">
                        <input type="hidden" name="follow" value="<%=user2.local.username%>">
                        <button type="submit" class="btn btn-warning btn-lgt">Follow</button>
                    </form>
                </div>
                <div class="col-sm-6">
                    <form action="/unfollow" style="float: left" method="get">
                        <input type="hidden" name="unfollow" value="<%=user2.local.username%>">
                        <button type="submit" class="btn btn-warning btn-lgt">UnFollow</button>
                    </form>
                </div>
            </div>
                
                <div class="col-sm-12">
                    <% if (typeof follows !== 'undefined' && follows[0] !== '' ) { %>
                        <p style="text-align: center; margin-top: 10px"><%=follows%></p>
                    <% } else {%>
                        <p style="text-align: center; margin-top: 10px">No followers have been added by this user yet!</p>
                    <% } %>
                </div>
                
                <h2><span class="fa fa-headphones"></span>Favorite artists</h2>
            
                <div class="col-sm-12">
                    <% if (typeof favorites !== 'undefined' && favorites[0] !== '' ) { %>
                        <p style="text-align: center; margin-top: 10px"><%=favorites%></p>
                    <% } else {%>
                        <p style="text-align: center; margin-top: 10px">No artists have been favorited by this user yet!</p>
                    <% } %>
                </div>
        </div>
    </div>

</div>
</body>
</html>